<h1 class="text-center my-4">Selecione um Estado para continuar</h1>

<div class="d-flex justify-content-center">
    <%= form_with url: deputados_path, method: :get, local: true, class: "w-50" do %>
        <div class="mb-3">
            <label for="estado" class="form-label">Estado:</label>
            <%= select_tag :estado, 
                options_for_select(Deputado.distinct.pluck(:estado).sort), 
                prompt: "Escolha um estado",
                class: "form-select" %>
        </div>

        <div class="text-center">
            <%= submit_tag "Filtrar Deputados", class: "btn btn-primary" %>
            <%= link_to "Voltar", root_path, class: "btn btn-secondary" %>
        </div>
    <% end %>
</div>
