<h1 class="text-center my-4">Importar despesas</h1>

<div class="d-flex justify-content-center">
    <%= form_with url: import_despesas_path, multipart: true, method: :post, class: "w-50" do %>
        <div class="mb-3">
            <label for="arquivo" class="form-label">Selecione um arquivo CSV:</label>
           <%= file_field_tag :arquivo, class: "form-control", accept: ".csv" %>
        </div>

        <div class="text-center">
            <%= submit_tag "Importar", class: "btn btn-success" %>
            <%= link_to "Início", root_path, class: "btn btn-secondary" %>
        </div>
    <% end %>
</div>