<h1>Bem-Vindo ao Sistema de Consulta de Deputados</h1>

<p>Este sistema permite consultar informações sobre deputados deferais e suas despesas parlamentares.</p>

<p>escolha um estado e veja os dados detalhados</p>

<%= link_to "Consultar Deputados", selecao_estado_path, class: "btn btn-primary" %>