<footer class="bg-dark text-white text-center py-3 mt-3">
    <div class="container">
        <p>&copy; <%= Time.now.year %> Sistema de consulta de Deputados. Todos os direitos reservados</p>
        <p>
            Desenvolvido por <strong>Guilherme Rocha</strong> | 
            <a href="https://www.linkedin.com/in/guilherme-rocha-828701b6/" target="_blank" class="text-white">Contato</a>
        </p>
    </div>
</footer>